.footer {
  clear: both;
  position: relative;
  height: 6rem;
  background-color: rgba(251, 149, 40, 0.766);
  padding: 2rem;
}
.For_restaurant{
  align-items: center;
  width: 8rem;
}
.suggestions {
  text-decoration: none;
  font-family: "Courgette", cursive;
  color: black;
  margin-left:8.5%;
  width :12rem;
 
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}
.co{
  width: 8rem;
}
.sub {
  display: flex;
  justify-content: space-evenly;
  
}

.sub p {
  margin: 5px;
}

@media screen and (max-width: 720px) {
  .sub {
    flex-direction: column;
  }
}
