.USER-HISTORY{
    display: flex;
    flex-direction: column;
 height: 500px;
}
.userss{
    margin-top: 2%;
    color: chocolate;
}
.tabells{
  margin-left: 25%;
    width: 50%;
    margin-top: 2rem;
    max-width: 100%;
    height: 90%
}


.orderdate{
  cursor: pointer;
}

.bttl{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  gap: .75rem;

}

.boton{
  z-index: 3;
  color: #000;
  margin-left: 33rem;
  font-size: smaller;

  top: -50rem;
}


