.views{
    height: 450px;
}



.back{
    height: 3.5rem;
    width: 15rem;
    position:relative;
    margin-top: 18rem;
    margin-left: 79rem;
    background-color: rgba(255, 248, 220, 0);
    color: rgb(215, 94, 33);
border: 1px solid coral;

  
}


.CC{
    margin-left: 10%;
}

.BB{
    width:15rem;
}