.Products_Admin_Side_p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Create_Meale_button {
  background-color: orangered;
}
.choose_category_div {
  display: grid;
  grid-template-columns: 4, auto;
}
.Choose_Category_p {
  margin-bottom: 2rem;
  font-size: 150%;
  color: black;
}
.category_title_links {
  display: flex;
  flex-direction: row 25%;
  display: inline;
  cursor: pointer;
}
.choose_foodType_div {
  font-size: 150%;
  color: black;
}
.Choose_Type_p {
  color: black;
  margin-bottom: 2rem;
  font-size: 150%;
}
.Choose_Type_links {
  color: orangered;
  display: flex;
  flex-direction: column 25%;
  justify-content: center;
  cursor: pointer;
}
.category_button {
  border-bottom: 0.09rem solid orangered;
  height: 80%;
  width: 40%;
  padding: 0.2rem;
}
.big_div {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  background: rgb(255, 245, 226);
  height: 80%;
  width: 60%;
  box-shadow: 0px 20px 20px rgb(36, 35, 35);
  padding: 10px;
  margin: 20px;
  border: 2px solid orangered;
  border-radius: 6px;
  z-index: 5;
  color: beige;
}

#closebtn {
  position: relative;
  margin-left: 93%;
  width: 3%;
  height: 5%;
  cursor: pointer;
  background-color: orangered;
}
.Create_Product_div {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Create_Product_inputs {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5em;
  width: 30em;
  height: 1.5em;
  font-size: 1em;
  border: solid 1px rgba(128, 128, 128, 0.275);
  resize: none;
}
.Create_button1 {
  justify-content: center;
  background-color: orangered;
  transform: scale(0.98);
}

/* ________________________________________ */
/* ________________________________________ */
.are_you_sure {
  display: inline;
  color: black;
}

.sure{
display: flex;
width: 10rem;

}
.shaker_update{
  display: flex;
  flex-direction: column;
}

.shishiani {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto;
  gap: 2rem;
  max-height: 70%;
  margin-left: 8rem;
  margin-bottom: 2rem;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  background: rgb(255, 245, 226);
  height: 80%;
  width: 60%;
  box-shadow: 0px 20px 20px rgb(36, 35, 35);
  padding: 10px;
  margin: 20px;
  border: 2px solid orangered;
  border-radius: 6px;
  z-index: 5;
  color: beige;
}

.Product_Container_Admin {
  display: flex;
  flex-direction: row;
  border: 1px solid #f26d3d;
  margin-right: 1.5rem;
  width: 95%;
  height: 13.3rem;
  margin: 3%;
  margin-bottom: 2%;
  padding: .5rem;
  grid-template-columns: auto auto auto auto;

}

.Product-Img-Dev {
  width: 8rem;
  height: 5.8rem;
}
.pppp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.pName {
  font-size: large;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #f26d3d;
}
.price {
  margin-top: 0.5rem;
  color: #f26d3d;
}
.t2 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  height: 4rem;
  margin-top: 1%;
}
