
.Create_Meale_button {
  margin-top: 1rem;
  background-color: #ff910b;
}
.choose_category_div {
  display: grid;
  grid-template-columns: 4, auto;
}
.Choose_Category_p {
  margin-bottom: 2rem;
  font-size: 150%;
  color: black;
}
.category_title_links {
  display: flex;
  flex-direction: row 25%;
  display: inline;
  cursor: pointer;
}
.choose_foodType_div {
  font-size: 150%;
  color: black;
}
.Choose_Type_p {
  color: black;
  margin-bottom: 2rem;
  font-size: 150%;
}
.Choose_Type_links {
  color: orangered;
  display: flex;
  flex-direction: column 25%;
  justify-content: center;
  cursor: pointer;
}
.category_button {
  border-bottom: 0.09rem solid orangered;
  height: 80%;
  width: 40%;
  padding: 0.2rem;
}
.big_div {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  background: rgb(255, 245, 226);
  height: 80%;
  width: 60%;
  box-shadow: 0px 20px 20px rgb(36, 35, 35);
  padding: 10px;
  margin: 20px;
  border: 2px solid orangered;
  border-radius: 6px;
  z-index: 5;
  color: beige;
}

#closebtn {
  position: relative;
  margin-left: 93%;
  width: 3%;
  height: 5%;
  cursor: pointer;
  background-color: orangered;
}
.Create_Product_div {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Create_Product_inputs {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5em;
  width: 30em;
  height: 1.5em;
  font-size: 1em;
  border: solid 1px rgba(128, 128, 128, 0.275);
  resize: none;
}
.Create_button1 {
  justify-content: center;
  background-color: #ff910b;
  transform: scale(0.98);
}

/* ________________________________________ */
/* ________________________________________ */
.are_you_sure {
  display: inline;
  color: black;
}
.xbutton2 {
  position: relative;
  cursor: pointer;
  background-color: #ff910b;
  width: 20%;
}

.xbutton1 {
  position: relative;
  margin-left: 110%;
  width: 15%;
  height: 9.8%;
  cursor: pointer;
  background-color: #ff910b;
}
.Marah_delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
}
.shaker_update {
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
}

/* .shishiani {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto;
  gap: 2rem;
  max-height: 70%;
  margin-left: 8rem;
  margin-bottom: 2rem;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  background: rgb(255, 245, 226);
  height: 80%;
  width: 60%;
  box-shadow: 0px 20px 20px rgb(36, 35, 35);
  padding: 10px;
  margin: 20px;
  border: 2px solid orangered;
  border-radius: 6px;
  z-index: 5;
  color: beige;
} */

.Product_Container_Admin {
  display: flex;
  flex-direction: row;
  border: 1px solid #f26d3d;
  margin-right: 2rem;
  width: 80%;
  height: 10rem;
  margin: 3%;
  margin-bottom: 2%;
  padding: 0.6rem;
  grid-template-columns: 30% 30% auto auto;
}
.delete {
  margin-bottom: 50%;
}
.Product-Img-Dev {
  width: 8rem;
  height: 5.8rem;
}
.pppp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.pName {
  font-size: large;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #f26d3d;
}
.price {
  margin-top: 0.5rem;
  color: #f26d3d;
}
.t2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  grid-template-rows: max-content;
  gap: 2rem;
  max-height: 70%;
  margin-left: 8rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.update_input_3 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-radius: 0.5em;
  gap: 0.5rem;
  width: 40rem;
  height: 3rem;
  font-size: 1rem;
  resize: none;
  margin-left: -10.3rem;
  margin-top: 1rem;
}
.update-inputs {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.imgg3 {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  border: #f54a0b solid 1px;
  margin-top: 15%;
  margin-left: 20%;
}

.product_m {
  width: 9rem;
}

.delete_dev {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.No_Yes_btn {
  width: 3rem;
  margin-left: 1rem;
  z-index: 3;
  top: 2;
}

.areYS {
  display: flex;
  flex-wrap: wrap;
  width: 9rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
}
