.Form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  max-height: 90vh;
  max-width: 100%;
}

.loginns {
  display: flex;
 flex-direction: column-reverse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-right: 15%;
 }
 .register-Pic{
  height: 90vh;
width: 50%;
  border-right: .025em solid coral;
}


  .input {
    border-radius: .5em;
    width: 18em;
    height: 2em;
    font-size: 1em;
    border: solid 1px rgba(128, 128, 128, 0.275);
    resize: none;
  }
  .button {
    width: 10em;
    margin: 1em;
    height: 2em;
    background-color: coral;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    color: seashell;
    font-size: large;
  }