.Form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;

}

.loginns {
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1em;
 
 
 }
 .register-Pic{
  height: 100vh;
  width: 100%;
  
}



  .input {
    border-radius: .5em;
    width: 18em;
    height: 2em;
    font-size: 1em;
    border: solid 1px rgba(128, 128, 128, 0.275);
    resize: none;
  }


  .button {
    width: 10em;
    margin: 1em;
    height: 2em;
    background-color: coral;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    color: seashell;
    font-size: large;
  }
  