* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  
}

a {
  margin: 15px;
}
img {
  width: 200px;
  height: 200px;
}

.video{
  width: 100%;
  height:100%;
}

video{
  width:100%;
  height:100%;
}

.button {
  width: 10em;
  margin: 1em;
  height: 2em;
  background-color: coral;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  color: seashell;
  font-size: large;
}


