
.NavBar {
  border-bottom: 0.1em solid rgba(239, 244, 235, 0);
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  background: linear-gradient(
    90deg,
    #0B0C0D 30%
    #F26D3D 800%);
    border-bottom: .1rem solid #F26D3D;;

}
.imgpg {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(228, 241, 228, 0);
  font-family: "ABeeZee", sans-serif;
  color: rgba(24, 21, 21, 0.682);
  margin-top: 1%;
}

.navv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: start;
  margin-left: 30%;
  height: 4rem;
  margin-top: 1%;
  margin-right: 2.5%;
  background-color: #0B0C0D;
}


.titlee{
    width: 3em;
    height: 3em;
    margin-left: 5%;
}



.logout {
  border: 0ch solid rgba(255, 255, 255, 0);
  background-color: rgba(240, 248, 255, 0);
  margin-top: 4%;

  font-family: "ABeeZee", sans-serif;
  font-size: 1em;

}

.title {
  margin-left: 2rem;
margin-top: -2.2rem;
  height: 8rem;
  width: 9rem;
  font-size: 2em;
  text-decoration: none;
  color: rgb(240, 121, 9);
  font-family: "Satisfy", cursive;
}

.span {
  color: rgba(122, 93, 93, 0.682);
}

.Link {
  text-decoration: none;
  font-size: 1em;
}
