.NavBar {
  border-bottom: 0.1em solid rgba(239, 244, 235, 0);
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  background: linear-gradient(90deg, rgb(255, 255, 255) 30%,  rgba(251, 149, 40, 0.766) 160%);
}
.imgpg {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(228, 241, 228, 0);
  font-family: "ABeeZee", sans-serif;
  color: rgba(24, 21, 21, 0.682);
  margin-top: 1%;
}
.navv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: start;
  margin-left: 30%;
  height: 4rem;
  margin-top: .6%;
  margin-right: 2.5%;
}
.d{
  margin-top: 4%;
}
.titlee {
  width: 3em;
  height: 3em;
  margin-left: 5%;
}
.Link {
  border: 0ch solid rgba(255, 255, 255, 0);
  background-color: rgba(240, 248, 255, 0);
  margin-top: 4%;
  color: rgba(0, 0, 0, 0.633);
  font-size:x-large;
  font-family: "Satisfy", cursive;
}
.title {
  margin-left: 2rem;
  margin-top: -2.2rem;
  height: 8rem;
  width: 9rem;
  font-size: 2em;
  text-decoration: none;
  color: rgb(240, 121, 9);
  font-family: "Satisfy", cursive;
}
.span {
  color: rgba(122, 93, 93, 0.682);
}
.Link {
  text-decoration: none;
  font-size: 1em;
  font-family: 'Courgette', cursive
}











