.producttss{
    display: grid;
    grid-template-columns: 45% 45% ;
    grid-template-rows:auto; 
    /* align-items: center;
    justify-content: center; */
  /* border: 1px solid rgba(128, 128, 128, 0.426); */
  gap: 2rem;
  margin-left: 4rem;
  margin-top: 7%;
}