.theholder {
  display: grid;
  grid-template-columns: repeat(2, auto);
  display: flex;
  height: 100%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.616);
  align-items: stretch;
  /* background-color: rgba(0, 0, 0, 0.082); */
}
.dash {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.877);
}
.analize {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 5px;
  border-right: rgba(22, 13, 13, 0.438) 1px solid;
  height: 60rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.068);
}
.admin_sections {
  display: grid;
  padding: 1rem;
  height: 100%;
  width: 80%;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  margin: 2px;
  justify-items: stretch;
  align-items: center;
  justify-content: space-around;
}
.section_link_1 {
  display: flex;
  height: 65%;
  width: 80%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  box-shadow: 10px 7px 7px rgb(133, 133, 133);
}
.section_link_2 {
  display: flex;
  height: 65%;
  width: 80%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  box-shadow: 10px 7px 7px rgb(133, 133, 133);
}
.section_link_3 {
  display: flex;
  height: 65%;
  width: 80%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  box-shadow: 10px 7px 7px rgb(133, 133, 133);
}
.section_link_4 {
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 80%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  box-shadow: 10px 7px 7px rgb(133, 133, 133);
}
.chart_Pic {
  height: 60%;
  width: 100%;
  justify-content: center;
  background-position-x: center;
}
.login_first {
  border: 2px solid orange;
  gap: 2px;
  margin: 2px;
}
.login_first_button {
  border: 2px solid orange;
  gap: 2px;
  margin: 2px;
}

.linkss {
  font-size: 130%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 2px solid black;
}
