.theholder {
  display: grid;
  grid-template-columns: repeat(2, auto);
  display: flex;
  height: 100%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.616);
  align-items: stretch;
  /* background-color: rgba(0, 0, 0, 0.082); */
}
.dash {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.877);
}
.analize {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 5px;
  border-right: rgba(47, 45, 45, 0.438) 2px solid;
  max-height: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(192, 186, 186, 0.029);
}
.hello {
  cursor: pointer;
}
.admin_sections {
  display: grid;
  height: 100%;
  width: 80%;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  align-items: center;
}
.section_link_1 {
  display: flex;
  height: 70%;
  width: 60%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgb(133, 133, 133);
}
.section_link_2 {
  display: flex;
  height: 70%;
  width: 60%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgb(133, 133, 133);
}
.section_link_3 {
  display: flex;
  height: 70%;
  width: 60%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgb(133, 133, 133);
}
.section_link_4 {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 60%;
  gap: 2px;
  margin: 1rem;
  justify-content: space-around;
  align-items: left;
  box-shadow: 5px 10px 20px rgb(133, 133, 133);
}
.chart_Pic {
  height: 80%;
  width: 100%;
  justify-content: center;
  background-position-x: center;
  margin-right: .9rem;
  padding: 0.4rem;
}
.login_first {
  border: 2px solid orange;
  gap: 2px;
  margin: 2px;
}
.login_first_button {
  border: 2px solid orange;
  gap: 2px;
  margin: 2px;
}

.linkss {
  font-size: 130%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
